<div class="container-fluid">
	<section id="contenido" class="row">
		<div id="usuarios" class="col-md-4 offset-md-4 mt-2">

			<table class="table">
				<caption>Usuarios registrados</caption>
				<tr>
					<th>Profesores</th>
					<td>215</td>
				</tr>
				<tr>
					<th>Estudiantes</th>
					<td>896</td>
				</tr>
			</table>
		</div>
		<div id="facultad" class="col-md-4 offset-md-4 mt-1">

			<table class="table">
				<caption>Conexiones por facultad y por mes</caption>
				<tr>
					<th></th>
					<th>Julio</th>
					<th>Agosto</th>
				</tr>
				<tr>
					<th>FIMCBOR</th>
					<td>187</td>
					<td>270</td>
				</tr>
				<tr>
					<th>FADCOM</th>
					<td>40</td>
					<td>52</td>
				</tr>
			</table>
		</div>
	</section>
</div>