/* Add application styles & imports to this file! */
@import '~bootstrap/dist/css/bootstrap.min.css';

footer > p {
  margin-top: 8%;
  text-align: center;
}

.containerChat {
  background-color: #D6E1EA;
  border: 1px solid #D6E1EA;
  border-radius: 6px 6px 0 0;
  padding: 0 2% 0;

  position: fixed;
  bottom: 0;
  right: 2%;
  z-index: 999;
}


.textoChat {
  margin: 4% 0 4%;
  color: #2A457F;
  font-size: 1.1rem;
}

.tooltipStyle {
  
  width: 120px;
  background-color: #2A457F;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
  font-size: 0.8rem;

}
